<% include header.ejs %>
<div class="container">
        <h2>Welcome</h2>
        <ul>
          <li><a href="/notes">View Notes</a></li>
          <li><a href="/notes/add">Add Notes</a></li>
        </ul>
	</body>
	</html>
