<% include header.ejs %>
     <script src="javascript/context.js"></script>
      <div class="container">
        <form method="post">
       <div class="row">
               <div>
                   <input class="form-control" type="text" name="title" placeholder="My new note">
                   <hr>
                   <div id="editor">
                     <textarea v-model="input" debounce="100"  name="content"></textarea>
                     <div v-html="input | marked" id="note_content"></div>
                   </div>
                   <hr>
                   <div class="submitbar">
                       <button type="submit" class="btn btn-default submitbutton" id="submitbutton">Save</button>
                   </div>
               </div>
           </div>
         </form>
       </div>
   </div>
   <script src="/javascript/vueeditor.js"></script>
</body>

</html>
