<% include header.ejs %>
<div class="container">
        <a class="btn btn-default" href="/notes/add"><span class="glyphicon glyphicon-plus"></span>Add New</a>
        <h3>Your Recent Notes</h3>
         <div class="row">
        <% for(var i=0 ; i < notes.length; i++) {%>
                <% if ((i % 3==0 ) && (i !=0 )) { %>
        </div>
        <div class="row">
            <% } %>
            <div class="col col-md-4">
                <div class="note">
                    <div class="note-title"><a href="notes/view/<%=notes[i]._id%>"><%= notes[i].Title %></a></div>
                    <!--<hr>
                    <div class="note-body">
                    <% var substr = notes[i].demo_text %>

                    <%- substr%> ...</div>
                    <hr>
                    <a href="editnote/<%=notes[i]._id%>">Edit</a>-->
                </div>
            </div>
            <% } %>
    </div>
	</body>
	</html>
