<% include header.ejs %>
    <div class="jumbotron" id="jumbo">
        <div class="container">
            <h2>Trainingspläne </h2>
        </div>
    </div>

    <div class="container">
        <p>
            <a href="/trainings/add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Neuer Trainingsplan</a>
            </br>
        </p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Kunde</th>
                    <th>Name</th>
                    <th>Trainer</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
               <% for(var i=0 ; i < trainings.length; i++) {%>
                <tr>
                    <td><a href="#new_modal" data-toggle="modal"><span class="glyphicon glyphicon-th-large"></span></a>
                    </td>
                    <td><%= trainings[i].Customer%></td>
                    <td><%= trainings[i].Name%></td>
                    <td><%= trainings[i]._TrainerId%></td>
                    <td>
                        <a href="#new_modal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten </a> |
                        <a href="#new_modal" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> Löschen </a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>

    </div>


    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/javascript/bootstrap.js"></script>
    </body>

    </html>